.header {
  padding-left: 1.5rem;
  grid-column: 1 /-1;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.link-header {
  text-decoration: none;
  color: #000;
}

.icone-header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-right: 1.5rem;
}
